mixin post_template(post)
    .row 
        .col.text-white
            h3
                a(href=`/chat/${topic.id}/${post.id}`)= post.get("title")
            each paragraph in post.get("content").split("\n")
                p= paragraph