doctype html
html(lang="en")
    head
        title Login
        include includes/head
        link(rel="stylesheet", href="/static/styles/rules.css")
        link(rel="stylesheet", href="/static/styles/aboutus.css")
    body 
        include includes/navbar.pug

        .col 
            .title 
                .title_blob About Us 
            .description We are a group of college students trying to give people a place to practice political views. This idea came from our realization of the unmoderated complications that come with political discussions in regular social media applications. To us, this is a very important topic that must be fixed as being a young adult, makes us allowed to vote in elections that end up changing the way we as a country live. So what we strive for is the ability for people to learn about more than just their side of politics.
            <img id="team" src="/static/teamImage.jpg" alt="" srcset="" style="width: 100%;">



        