doctype html
html(lang="en")
    head
        title Login
        include includes/head
                link(rel="stylesheet", href="/static/styles/rules.css")

        link(rel="stylesheet", href="/static/styles/abootus.css")
    body 
        include includes/navbar.pug

        .col 
            .title 
                .title_blob About Us 
            .description 
            <img id="team" src="/static/teamImage.jpg" alt="" srcset="" style="width: 100%;">



        