doctype html
html(lang="en")
    head 
        include includes/head
        title Chat
    body 
        include includes/navbar
        .container-fluid
            .row
                form(action="/chat", method="post") 
                    input(type="text" name="message")
                    input(type="submit", value="Send")
            include includes/topic_template
            each topic in topics 
                +topic_template(topic)