doctype html
html(lang="en")
    head 
        include includes/head
        title Chat
        link(rel="stylesheet" href="/static/styles/chat.css")
        link(rel="stylesheet" href="/static/styles/global.css")
    body 
        include includes/navbar
        .container-fluid
            .row.mt-2
                .col
                    form.text-white(action="/chat", method="post")
                        .form-row.my-2
                            .col-md-4
                                label(for="title") Title
                            .col-md-8
                                input.form-control(type="text" name="title" placeholder="Title...")
                        .form-row.my-2
                            .col-md-4
                                label(for="cotext") Context
                            .col-md-8
                                input.form-control(type="url" name="context" placeholder="https://www....")
                        .form-row.my-2
                            .col-md-4
                                p.text-center #{user_karma}/50
                            .col-md-8
                                input.w-100.btn.btn-outline-primary(type="submit", value="Post")
            include includes/topic_template
            <div class="topicHolder">
                each topic in topics 
                    +topic_template(topic)
            </div>