doctype html
html(lang="en")
    head 
        include includes/head
        title Chat
    body 
        include includes/navbar
        .container-fluid
            .row
                form(action="/chat", method="post") 
                    input(type="text" name="message")
                    input(type="submit", value="Send")
            each topic in topics 
                .row 
                    .col
                        .topic-box 
                            h3
                                a(href=`/chat/${topic.id}`)= topic.get("title")
                            span By: #{topic.get("author")}
                            span(style="float: right;")= "10/2/2022"