doctype html
html(lang="en")
    head 
        include includes/head
        title Chat
        link(rel="stylesheet", href="/static/styles/chat.css")

    body 
        include includes/navbar
        .container-fluid
            .row
                form(action="/chat", method="post") 
                    input(type="text" name="message")
                    input(type="submit", value="Send")
            .row 
                .userKarama 
                    #{user_karma}
            include includes/topic_template
            <div class="topicHolder">
                each topic in topics 
                    +topic_template(topic)
            </div>