doctype html
html(lang="en")
    head
        title MyView
        include includes/head
        link(rel="stylesheet", href="/static/styles/index.css")
    body
        include includes/navbar.pug
        script(src="/static/scripts/index.js" defer) 
        div#heading-row
            p 
            .what-we-do 
                |What do we do?
            .bubble-content
                |We help facilitate political discourse
            p.mt-2
                a.text-white(href="/chat")
                    u Get Started
            img(id="content" src="/static/Group 30.png", alt="", srcset="")
