doctype html
html(lang="en")
    head
        title MyView
        include includes/head
    body 
        include includes/navbar.pug
        .container-fluid
            .row 
                .col-md-6
                    .bubble
                        .bubble-title 
                            |What do we do?
                        .bubble-content
                            |We help facilitate political discourse 