doctype html
html(lang="en")
    head
        title Login
        include includes/head
        link(rel="stylesheet", href="/static/styles/login.css")
    body
        include includes/navbar.pug
        .container-fluid 
            .row.main-content.bg-success.text-center
                .col-md-4.text-center.company__info
                    span.company__logo 
                        h2 
                            .fa.fa-android
                    h4.company_title Your Company Name
                .col-md-8.col-xs-12.col-sm-12.login_form
                    .container-fluid 
                        .row 
                            h2 Log In
                        .row 
                            form.form-group(action="/login" method="POST")
                                .row
                                    input.form__input#username(name="username" placeholder="Username")
                                .row 
                                    input.form__input#password(name="password" placeholder="Password")
                                .row 
                                    input.d-inline#remember_me(style="width: 50%;" type="checkbox" name="remember_me")
                                    label.w-50(for="remember_me") Remember Me!
                                .row 
                                    input.btn(type="submit" value="Submit")
                        .row 
                            p Don't have an account? 
                                a(href="#") Register Here