doctype html
html(lang="en")
    head
        title Login
        include includes/head
        link(rel="stylesheet", href="/static/styles/rules.css")
    body 
        include includes/navbar.pug

        .title 
            .title_blob How MyView Works

        .body
            ol
                li Find a topic that interests you and click on that topic
                li Read through different professional summaries of the topic you chose 
                li Read through the questions posed by the professionals and click on one you wish to debate about
                li Once you click on the question you will be brought to a page where you have to read through four user created comments taken from differing political views
                li  After going through the comments, you will now be able to comment and debate with other users


        