doctype html
html(lang="en")
    head 
        title #{topic.get("title")}
        link(rel="stylesheet", href="/static/styles/topic.css")
        include includes/head
    body 
        include includes/navbar
        .container-fluid 
            h1.text-white.text-center= topic.get("title")
            hr(color="#fff")
            .row
                .col
                    form.text-white(method="POST")
                        .form-row.my-2
                            .col-md-4
                                label(for="title") Title 
                            .col-md-8
                                input.form-control#title(name="title" placeholder="Topic...")
                        .form-row.my-2
                            .col-md-4
                                label(for="content") Content 
                            .col-md-8
                                input.form-control#content(name="content" placeholder="Put your message here")
                        .form-row.my-2
                            .col-md-4.d-flex.justify-content-center
                                progress.w-50.h-100.mx-auto(min=0 max=4 value=`${comments_read}`)
                            .col-md-8
                                input.w-100.btn.btn-outline-primary(type="submit", value="Post")
            hr(color="#fff")
            include includes/post_template
            each post in posts
                +post_template(post)
