
body, html{
    background-color: #131026;
    color:aliceblue;
    height: 100vh;
    z-index: -2;
}
body{
    text-align: center;
    overflow-x: hidden;
}
.bubble{
    margin: auto 0 auto 0;
}

.bubble-title{
    font-size: 3em;
    font-weight: 3000;
}

.bubble-content{
    font-size: 2em;
    font-weight: 3000;
}
#heading-row{
    display:flex;
    flex-direction: column;

}

#content{
    z-index: 2;
    width: 80vw;
}
