
body, html{
    background-color: #131026;
    color:aliceblue;
    height: 100vh;
}
.container-fluid{
    margin: 0 20% 0 20%;
}

.bubble-title{
    font-size: 3em;
    font-weight: 3000;
}
.bubble-content{
    font-size: 2em;
    font-weight: 3000;

}
