body{
    background-color: #101F35;
}
.topic{
    color: #FFD166;
    background: #aa0ca8c6;
    /* background: #4A083C; */
    display: inline-block;
    margin-bottom: 2em;
    padding: 1em 2em;
    border-radius: 100px;
    padding-left: 2em;
}
.topic > span{
    margin: 2em;
}