#topic-btn{
    position: absolute;
    width: 500px;
    height: 200px;
    left: 0px;
    top: 200px;

    background: #4A083C;
    border-radius: 100px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#inner-topic-btn{
    position: absolute;
    width: 240px;
    height: 118px;
    left: 121px;
    top: 40px;

    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 100px;
    line-height: 118px;

    color: #FFD166;
}